.App {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.categories:hover {
  transition: 0.5s;
  transform: scale(1.1);
}